<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kantongku.kantongku03">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_kantongku"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_kantongku"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kantongku03">
        <activity
            android:name=".InputTanggungan"
            android:exported="false" />
        <activity
            android:name=".InputTabungan"
            android:exported="false" />
        <activity
            android:name=".InputTransaksi"
            android:exported="false" />
        <activity
            android:name=".Input"
            android:exported="false" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>